.header {
    display: flex;
    font-size: 28px;
    justify-content: space-around;
    margin-top: 30px;
}

.header .logo {
    color: #6c021b;
}

.box {
    width: 900px;
    height: 600px;
    background-image: url("/home/minchul/Programming/KU_ChaTalk/group.jpeg");
    border-radius: 100px;
    margin: auto;
    margin-top: 50px;
}

.main {
    margin-top: 50px;
    margin-left: 30%;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    line-height: 25px;
}

.wrapper {
    height: 100vh;
}

.message-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.message-form {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#message-text {
    width: 100%;
    border-radius: 2px;
}

#main__title {
    font-weight: 800;
}

#logo__message {
    font-family: 'Anton', sans-serif;
    color: #6c021b;
}

button {
    width: 120px;
    height: 35px;
    background-color: #6c021b;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #EBEAEB;
    text-align: center;
    line-height: 2.5rem;
}

